<footer class="container-max gap-5 px-5 py-4 text-white">
    <section class="container-addresses d-flex flex-column justify-content-center gap-3" style="font-size: 16px;">
        <span class="d-flex flex-row gap-2 cursor-pointer" (click)="goToMapAddress('endereco_01')">
            <i class="bi bi-geo-alt"></i>
            <p>Av. Curitiba, 980 Tramandaí, RS, Brasil</p>
        </span>
        <span class="d-flex flex-row gap-2 cursor-pointer" (click)="goToMapAddress('endereco_02')">
            <i class="bi bi-geo-alt"></i>
            <p>Av. Osório, 110 Imbé, RS, Brasil</p>
        </span>
        <span class="d-flex flex-row gap-2">
            <i class="bi bi-telephone"></i>
            <a href="tel:05136691592">51 3669-1592</a>
        </span>
        
    </section>
    <section class="container-logo d-flex flex-column align-items-center justify-content-center gap-4">
        <ul class="d-flex flex-row justify-content-center gap-5 m-0 p-0 fs-1">
            <li><i class="bi bi-instagram cursor-pointer" ngbTooltip="Instagram" (click)="goToInstagram()"></i></li>
            <li><i class="bi bi-facebook cursor-pointer" ngbTooltip="Facebook" (click)="goToFacebook()"></i></li>
            <li><i class="bi bi-whatsapp cursor-pointer" ngbTooltip="WhatsApp" (click)="goToWhatsApp()"></i></li>
        </ul>
        <img class="img-logo" src="assets/logo/logo-rodape.png" alt="Logo SP-Link" (click)="goHome()" class="cursor-pointer">
        <ul class="d-flex flex-column flex-sm-row align-items-center justify-content-center gap-4 gap-sm-5 m-0 p-0 pt-3 fs-1 w-100">
            <img class="img-app" ngbTooltip="Aplicativo iPhone" (click)="goToAppiPhone()" src="assets/logo-apps/ios.svg" alt="Logo loja de aplicativos App Store">
            <img class="img-app" ngbTooltip="Aplicativo Android" (click)="goToAppAndroid()" src="assets/logo-apps/android.png" alt="Logo loja de aplicativos Play Store">
        </ul>
    </section>
    <nav class="d-flex flex-column gap-3 align-items-start px-0 px-sm-5 px-md-0">
        <ul class="d-flex flex-column gap-1 m-0 px-0 px-sm-5 p-md-0">
            <app-buttom-footer (click)="scrollTo('whoWeAre')" label="Quem somos"></app-buttom-footer>
            <app-buttom-footer (click)="scrollTo('workUs')" label="Trabalhe conosco"></app-buttom-footer>
            <app-buttom-footer url="/politica-de-privacidade" label="Politica de privacidade"></app-buttom-footer>
        </ul>
        <ul class="d-flex flex-column gap-1 m-0 px-0 px-sm-5 p-md-0">
            <app-buttom-footer [url]="links.contratoLocacao" label="Contrato de locação de equipamentos"></app-buttom-footer>
            <app-buttom-footer [url]="links.contratoSVA" label="Contrato de SVA"></app-buttom-footer>
            <app-buttom-footer [url]="links.contratoServico" label="Contrato de prestação de serviços"></app-buttom-footer>
        </ul>
    </nav>
    <span class="container-cnpj d-flex flex-column align-items-center justify-content-center gap-2">
        <div class="d-flex flex-row flex-wrap justify-content-center gap-3 align-items-center">
            <small>DPO: Jorge Aguiar</small>
            <span class="d-flex flex-row gap-2">
                <i class="bi bi-envelope-at"></i>
                <a class="text-wrap" href="mailto:dpo@splinktelecom.com.br" style="word-break: break-all;">dpo&#64;splinktelecom.com.br</a>
            </span>
        </div>
        <small>Severo & Prado LTDA 19.879.289/0001-99</small>
    </span>
</footer>