<section class="container d-flex flex-column gap-5 align-items-center pb-5">
    <div class="d-flex justify-content-start w-100">
        <button class="btn bg-color-primary text-white fw-medium" (click)="backPage()">Voltar</button>
    </div>
    
    <h1 class="m-0 fs-2">Política de privacidade</h1>
    
    <div class="d-flex flex-column gap-3">
        <h3 class="m-0 fs-5 w-100">Aceitação de configurações Dados pessoais</h3>
        <p class="m-0">As leis sobre dados pessoais estão mudando no Brasil, e precisamos alertá-los sobre a utilização dos seus dados pessoais feitos pela prestadora.</p>
        <p class="m-0">Quando você usa nossos serviços, está confiando a nós suas informações. Entendemos que isso é uma grande responsabilidade e trabalhamos duro para proteger essas informações e colocar você no controle.</p>
        <p class="m-0">A Política de Privacidade apresenta aos usuários informações de como coletamos, usamos, armazenamos, tratamos e protegemos os dados pessoais, com absoluta transparência quanto ao assunto e esclarecimentos ao interessado sobre os tipos de dados que são coletados, os motivos da coleta e a forma como os usuários podem gerenciar e excluir informações.</p>
        <p class="m-0">Esta Política de Privacidade se aplica a todos os usuários para a utilização do site e integra aos contratos de prestação de serviços, feitos pela prestadora <strong>SEVERO & PRADO LTDA – ME</strong>, devidamente inscrita no CNPJ sob nº 19.879.289/0001-99, Prestadora de Serviços de Telecomunicações.</p>
        <p class="m-0">Todas as condições do documentos estão em conformidade com a Lei Geral de Proteção de Dados Pessoais (Lei 13.709/18), o Marco Civil da Internet (Lei 12.965/14) e Código de Defesa do Consumidor (Lei 8078/90). O documento poderá ser atualizado em decorrência de eventual atualização normativa, razão pela qual se convida o usuário a consultar periodicamente esta seção.</p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="m-0 fs-5 w-100">Como recolhemos os dados pessoais</h3>
        <p class="m-0">Os dados pessoais do usuário são recolhidos pela plataforma da seguinte forma:</p>
        <p class="m-0">Cadastramento do usuário para a criação de um perfil na plataforma MK Solutions: Esses dados são de identificação básica, como nome, endereço e telefone. A partir deles, podemos identificar usuário, além de garantir uma maior segurança e bem-estar à suas necessidades. Ficam cientes os usuários de que seu perfil na plataforma estará acessível ao departamento comercial e técnico.</p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="m-0 fs-5 w-100">Quais dados pessoais recolhemos sobre o usuário</h3>
        <p class="m-0">Os dados pessoais do usuário recolhidos são os seguintes:</p>
        <p class="m-0 no-intent-text">Nome, endereço, telefone e CPF/CNPJ</p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="m-0 fs-5 w-100">Para que finalidades utilizamos os dados pessoais do usuário</h3>
        <p class="m-0">Os dados pessoais dos usuários coletados e armazenados no site tem por finalidade:</p>
        <p class="m-0 no-intent-text">Nome: Cadastro de pessoas com finalidade comercial</p>
        <p class="m-0 no-intent-text">Endereço: Consultar viabilidade</p>
        <p class="m-0 no-intent-text">Telefone: Fornecer meios de contato</p>
        <p class="m-0 no-intent-text">CPF/CNPJ: Fornecer meios de consulta fiscal</p>
        <p class="m-0">O tratamento de dados pessoais para finalidades não previstas nesta Política de Privacidade somente ocorrerá mediante comunicação prévia ao usuário, de modo que os direitos e obrigações aqui previstos permanecem aplicáveis.</p>
        <p class="m-0"></p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="m-0 fs-5 w-100">Por quanto tempo os dados pessoais ficam armazenados:</h3>
        <p class="m-0">Os dados pessoais dos usuários coletados e armazenados no site tem por finalidade:</p>
        <p class="m-0">Os dados pessoais do usuário são armazenados pela plataforma durante o período necessário para a prestação do serviço ou o cumprimento das finalidades previstas no presente documento, conforme o disposto no inciso I do artigo 15 da Lei 13.709/18.</p>
        <p class="m-0">Os dados podem ser removidos ou anonimizados a pedido do usuário, excetuando os casos em que a lei oferecer outro tratamento.</p>
        <p class="m-0">Ainda, os dados pessoais do usuário apenas podem ser conservados após o término de seu tratamento nas seguintes hipóteses previstas no artigo 16 da referida Lei:</p>
        <p class="m-0 no-intent-text">I – cumprimento de obrigação legal ou regulatória pelo controlador;</p>
        <p class="m-0 no-intent-text">II – estudo por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados pessoais;</p>
        <p class="m-0 no-intent-text">III – transferência a terceiro, desde que respeitados os requisitos de tratamento de dados dispostos nesta Lei; ou</p>
        <p class="m-0 no-intent-text">IV – uso exclusivo do controlador, vedado seu acesso por terceiro, e desde que anonimizados os dados.</p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="m-0 fs-5 w-100">Segurança dos dados pessoais armazenados:</h3>
        <p class="m-0">A plataforma se compromete a aplicar as medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, alteração, comunicação ou difusão de tais dados.</p>
        <p class="m-0">Os dados relativos a cartão de crédito são criptografados usando a tecnologia “secure socket layer” (SSL) que garante a transmissão dos dados de forma segura e confidencial, de modo que a transmissão dos dados entre o servidor e o usuário ocorre de maneira cifrada e encriptada.</p>
        <p class="m-0">A plataforma não se exime de responsabilidade por culpa exclusiva de terceiro, como em caso de ataque de hackers ou crackers, ou culpa exclusiva do usuário, como no caso em que ele mesmo transfere seus dados a terceiros. O site se compromete a comunicar o usuário em caso de alguma violação de segurança dos seus dados pessoais.</p>
        <p class="m-0">Os dados pessoais armazenados são tratados com confidencialidade dentro dos limites legais. No entanto, podemos divulgar suas informações pessoais caso sejamos obrigados pela lei pra fazê-lo ou se você violar nosso termos de serviços.</p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="m-0 fs-5 w-100">Os dados pessoais armazenados serão transferidos a terceiros:</h3>
        <p class="m-0">Os dados pessoais podem ser compartilhados (com terceiros) com as seguintes pessoas (físicas/jurídicas) Conecta Telecom CNPJ nº 28.834.204/0001-47.</p>
        <p class="m-0">Os terceiros indicados receberão os dados na medida do necessário para permitir que eles realizem os serviços contratados, ou seja, a fim de garantir única e exclusivamente a execução do contrato firmado com a prestadora.</p>
        <p class="m-0">Com relação aos fornecedores de serviços terceirizados como processadores de transação de pagamento, informamos que cada qual tem a sua própria política de privacidade. Desse modo, recomendamos a leitura das suas políticas de privacidade para compreensão de quais informações pessoais serão usadas por esses fornecedores.</p>
        <p class="m-0">Os fornecedores podem ser localizados ou possuir instalações localizadas em países diferentes. Nessas condições, os dados pessoais transferidos podem se sujeitar às leis de jurisdições nas quais o fornecedor de serviço ou suas instalações estão localizados.</p>
        <p class="m-0">Ao acessar nossos serviços e prover suas informações, você, usuário, está consentindo o processamento, transferência e armazenamento desta informação em outros países.</p>
        <p class="m-0">Não somos responsáveis pelas práticas de privacidade de outros sites e lhe incentivamos a ler as declarações de privacidades que cada um deles ofertam.</p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="m-0 fs-5 w-100">Consentimento:</h3>
        <p class="m-0">Ao utilizar os serviços e fornecer as informações pessoais na plataforma, o usuário está consentindo com a presente Política de Privacidade.</p>
        <p class="m-0 no-intent-text">O usuário, ao cadastrar-se, manifesta conhecer e pode exercitar seus direitos de cancelar seu cadastro, acessar e atualizar seus dados pessoais e garante a veracidade das informações por ele disponibilizadas.</p>
        <p class="m-0 no-intent-text">O usuário tem direito de retirar o seu consentimento a qualquer tempo, para tanto deve entrar em contato através do e-mail dpo&#64;splinktelecom.com.br.</p>
        <p class="m-0"></p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="m-0 fs-5 w-100">Alterações para essa política de privacidade:</h3>
        <p class="m-0">Reservamos o direito de modificar essas Política de Privacidade a qualquer momento, então, é recomendável que o usuário revise-a com frequência.</p>
        <p class="m-0">As alterações e esclarecimentos vão surtir efeito imediatamente após sua publicação na plataforma. Quando realizadas alterações os usuários serão notificados. Ao utilizar o serviços ou fornecer informações pessoais após eventuais modificações, o usuário demonstra concordância com as novas normas.</p>
        <p class="m-0">Diante da fusão ou venda da plataforma à outra empresa os dados dos usuários podem ser transferidas para os novos proprietários para que permanência dos serviços oferecidos.</p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="m-0 fs-5 w-100">Jurisdição para resolução de conflitos:</h3>
        <p class="m-0">Para a solução de controvésias decorrentes do presente instrumento será aplicado integralmente o direito brasileiro.</p>
        <p class="m-0">O presente instrumento obriga herdeiros e/ou sucessores, a qualquer tempo, sendo neste ato eleito pelas partes o foro da comarca da Cidade de Tramandaí, estado do Rio Grande do Sul, competente para dirimir quaisquer questões referentes ao presente, com renúncia expressa de qualquer outro, por mais privilegiado que seja.</p>
    </div>
</section>