dialog {
    position: fixed;
    inset: auto 0 30px;
    width: min(80vw, 760px);
    max-height: calc(100dvh - 60px);
    margin: 0 auto;
    padding: 0;
    border: 0;
    border-radius: 4px;
    color: inherit;
    background: white;
    box-shadow: 0 8px 28px #0004;
}

dialog::backdrop {
    background: #0005;
}

a {
    text-decoration: none;
    margin-right: 10px;
}

#save-preferences {
    background: linear-gradient(to right, var(--colorSplinkPrimaryDark), var(--colorSplinkPrimary));
    border-radius: 30px;
    display: inline-block;
}