<dialog #modalCookies aria-label="Preferências de cookies" (cancel)="$event.preventDefault()" (keydown)="onDialogKeydown($event)">
    <div class="card d-flex flex-column align-items-center p-3 p-sm-4 gap-3">
        <p class="fs-6 text-center m-0">
            A SP-Link utiliza cookies para melhorar a sua experiência, segurança e lhe entregar um conteúdo personalizado.
        </p>
        <small class="d-flex flex-column gap-2 text-center">
            Para saber mais acesse abaixo
            <div class="d-flex justify-content-center flex-row flex-wrap gap-2">
                <a href="/politica-de-privacidade">Politica de privacidade</a>
                <a href="/politica-de-cookies">Politica de cookies</a>
            </div>
            <div class="d-flex justify-content-center flex-row flex-wrap gap-2">
                <a href="/politica-de-direito-dos-titulares">Politica de direito dos titulares</a>
            </div>
        </small>
        <div class="d-flex flex-row gap-3">
            <button class="btn fw-normal" (click)="refuseCookies()">Recusar</button>
            <button id="save-preferences" class="px-3 text-nowrap text-white fw-normal px-3 py-2" (click)="acceptCookies()">Aceitar</button>
        </div>
      </div>
</dialog>
