:host {
    min-height: 60vh;
    color: var(--colorSplinkGray);
    background: linear-gradient(var(--colorSplinkPrimary), var(--colorSplinkPrimary), var(--colorSplinkPrimary), var(--colorSplinkPrimaryDark));
}

.block-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    .container-large {
        grid-column: span 2;
    }
}

button {
    background-color: var(--colorSplinkPrimary);
}

@media screen and (max-width: 575px) {
    .block-inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}