<section class="container-max d-flex flex-column gap-4 align-items-center text-white">
    <h1 class="m-0 fs-2">Trabalhe conosco</h1>
    
    <form [formGroup]="formWork" (ngSubmit)="send()" class="d-flex flex-column align-items-end gap-3 w-100">
        <section class="block-inputs w-100">
            <fieldset class="d-flex flex-column justify-content-center w-100">
                <label class="col-form-label fw-medium fs-6" for="nome">Nome</label>
                <input class="form-control form-control-solid" type="text" id="nome" name="nome" placeholder="Digite seu nome" formControlName="nome" autocomplete="name">
                @if (formWork.get('nome').errors && formWork.get('nome').touched) {
                    <span class="error-message text-danger">Favor informar um nome</span>
                }
            </fieldset>
            <fieldset class="d-flex flex-column justify-content-center w-100">
                <label class="col-form-label fw-medium fs-6" for="tel">Telefone</label>
                <input class="form-control form-control-solid" mask="(00) 00009 0000"  [dropSpecialCharacters]="false" type="tel" id="tel" name="tel" placeholder="Digite seu telefone" formControlName="tel" autocomplete="tel">
                @if (formWork.get('tel').errors && formWork.get('tel').touched) {
                    <span class="error-message text-danger">Favor informar um telefone</span>
                }
            </fieldset>
            <fieldset class="d-flex flex-column justify-content-center w-100">
                <label class="col-form-label fw-medium fs-6" for="endereco">Endereço</label>
                <input class="form-control form-control-solid" type="text" id="endereco" name="endereco" placeholder="Digite seu endereço" formControlName="endereco" autocomplete="street-address">
                @if (formWork.get('endereco').errors && formWork.get('endereco').touched) {
                    <span class="error-message text-danger">Favor informar um endereço</span>
                }
            </fieldset>
            <fieldset class="d-flex flex-column justify-content-center w-100">
                <label class="col-form-label fw-medium fs-6" for="curriculo">Anexo</label>
                <input class="form-control form-control-solid" type="file" id="curriculo" name="curriculo" formControlName="curriculo" (change)="onFileSelected($event)">
                @if (formWork.get('curriculo').errors && formWork.get('curriculo').touched) {
                    <span class="error-message text-danger">Favor inserir o anexo</span>
                }
            </fieldset>
            <fieldset class="d-flex flex-column justify-content-center container-large">
                <label class="col-form-label fw-bold fs-6" for="obs">Observação</label>
                <textarea class="w-100 textarea form-control form-control-solid no-resize" id="obs" name="obs" formControlName="obs" #textarea (change)="textObservation = textarea.value" rows="5"
                    placeholder="Digite a observação aqui..."></textarea>
            </fieldset>
            <fieldset class="d-flex flex-column flex-nowrap gap-2 justify-content-center container-large">
                <div class="d-flex flex-row flex-nowrap gap-2 justify-content-center">
                    <input class="form-check-input" type="checkbox" name="iAgree" id="iAgree" formControlName="iAgree" (change)="changeStatusAgree()" >
                    <label class="form-check-label" for="iAgree">Estou de acordo com o tratamento dos dados pessoais preenchidos acima para que seja possível a realização do contato por parte da SP-Link Telecom sobre minha solicitação.</label>
                </div>
                <span class="text-danger {{!showErrorIAgree ? 'opacity-0' : 'opacity-1'}}">O envio do formulário requer seu consentimento para o tratamento dos dados pessoais informados. Favor clicar na caixa de seleção acima!</span>
            </fieldset>
        </section>

        <p-toast [breakpoints]="{ '767px': { width: '90%', right: '0'} }" position="bottom-center" key="br" />

        <button type="submit" class="btn text-white fw-medium" [disabled]="isLoading">
            @if (isLoading) {
                <ng-container>
                  <span clas="indicator-progress" [style.display]="'block'">
                    Enviando...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                  </span>
                </ng-container>
            } @else {
                <ng-container>Enviar</ng-container>
            }
          </button>
    </form>
</section>