:host {
    min-height: 60vh;
    color: var(--colorSplinkGray);
    background: linear-gradient(var(--colorSplinkPrimary), var(--colorSplinkPrimary), var(--colorSplinkPrimary), var(--colorSplinkPrimaryDark));
}

.block-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    .container-large {
        grid-column: span 2;
    }
}

button {
    background-color: var(--colorSplinkPrimary);
}

fieldset {
    position: relative;
    .error-message {
        font-size: 14px;
        position: absolute;
        left: 0px;
        bottom: -25px;
    }
}

@media screen and (max-width: 575px) {
    .block-inputs {
        display: flex;
        flex-direction: column;
    }
}