:host {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 1000;
}

#image-logo {
    width: 100px;
}

.nav-link {
    color: var(--colorSplinkGray) !important;
}

.nav-link:hover,
.dropdown-item:hover {
    color: var(--colorSplinkPrimaryDark) !important;
}

.dropdown-item:active {
    background-color: #FFFFFF;
}


@media screen and (max-width:350px) {
    nav {
        flex-direction: column;
    }
}