:host {
    background: linear-gradient(var(--colorSplinkPrimary), #FFFFFF, var(--colorSplinkPrimary));
}

#carouselExampleDark {
    width: 75%;
}

@media screen and (max-width:767px) {
    #carouselExampleDark {
        width: 100%;
    }
}